html,
body{

    width:100%;

    overflow-x:hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;       /* ocupa todo el ancho */
    background: white; /* fondo sólido */
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    z-index: 1000;     /* queda encima del contenido */
}

/* Ajuste para que el contenido no se tape */
main {
    padding-top: 100px; /* ajusta según la altura real del header */
}


header h1{
    text-align:center;
}




#busqueda{
    width:100%;
    max-width: 700px;
    padding:16px 22px;
    border:none;
    border-radius:15px;
    font-size:18px;
    outline:none;
    background:white;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

/* MAIN */

main{

    width:100%;

    padding:20px;

    box-sizing:border-box;
}

/* PRODUCTOS */

#productos{

    width:100%;

    display:grid;

    grid-template-columns:
    repeat(auto-fill,minmax(260px,1fr));

    gap:20px;
}

/* CARD */

.card{
    background:white;
    border-radius:20px;
    padding:20px;

    box-shadow:0 4px 15px rgba(0,0,0,.08);

    transition:.2s;
    width:100%;

    box-sizing:border-box;
}

.card:hover{
    transform:translateY(-4px);
}

.card img{
    width:100%;
    height:180px;
    object-fit:contain;
    display:block;
    margin:0 auto;
}

.card h3{
    margin-top:15px;
    font-size:18px;
    min-height:70px;
}

.codigo{
    margin-top:8px;
    color:#666;
}

.precio{
    margin-top:10px;
    font-size:28px;
    font-weight:bold;
    color:#16a34a;
}

/* CONTROLES */

.controles{
    margin-top:15px;
}

.controles label{
    display:block;
    margin-bottom:5px;
}

.controles input{
    width:100%;
    padding:10px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
}

/* BOTON AGREGAR */

.agregar{
    width:100%;

    margin-top:15px;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.2s;
}

.agregar:hover{
    background:#1d4ed8;
}





#btn-top {
  display: none;              /* oculto por defecto */
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #007bff;  /* azul */
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;         /* 👈 circulito */
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

#btn-top:hover {
  background-color: #0056b3;  /* azul más oscuro al pasar el mouse */
}



#carrito h2{
    margin-bottom:20px;
}


.carrito-item{
    display:flex;
    gap:12px;

    padding-bottom:15px;
    margin-bottom:15px;

    border-bottom:1px solid #ddd;
}

.carrito-item img{
    width:70px;
    height:70px;
    object-fit:contain;
}

.carrito-item .info{
    flex:1;
}

.carrito-item h4{
    font-size:14px;
    margin-bottom:5px;
}

.carrito-item p{
    font-size:14px;
    margin-bottom:5px;
}

.carrito-item input{
    width:80px;

    padding:6px;

    border-radius:8px;

    border:1px solid #ccc;
}

/* BOTON BASURA */

.basura{
    background:red;
    color:white;

    border:none;

    width:35px;
    height:35px;

    border-radius:10px;

    cursor:pointer;
}

/* TOTAL */

.total{
    font-size:24px;
    font-weight:bold;

    margin-top:20px;
}



.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo izquierda, carrito derecha */
  background: #cecece;            /* color naranja estilo FIX */
  padding: 10px 20px;
  position: fixed;                /* 👈 ahora fijo */
  top: 0;
  left: 0;
  width: 100%;                    /* ocupa todo el ancho */
  z-index: 1200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Ajuste para que el contenido no se tape */
main {
  padding-top: 180px; /* ajusta según la altura real del header/topbar */
}


/* Logo grande y pegado a la izquierda */
.topbar .logo img {
  height: 170px;
  display: block;
}

/* Buscador centrado con ancho fijo */
.search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search input {

  width:100%;
  max-width:600px;

  padding:12px 16px;

  border:none;

  border-radius:14px;

  font-size:16px;

  box-sizing:border-box;
}

/* Carrito a la derecha con contador */
.carrito-icono {
  position: relative;
}

.carrito-icono button {
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

#carrito-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}








#carrito-items {
  max-height: 60vh;
  overflow-y: auto;
  padding: 10px;
  flex: 1;                 /* ocupa el espacio disponible */
  overflow-y: auto;        /* scroll interno para productos */
}
#finalizar,
.btn-eliminar {
  display: block;          /* hace que ocupen toda la línea */
  width: 60px;      
  height: 60px;
  border-radius: 50%;         /* 👈 círculo perfecto */      
  text-align: center;      /* centra el texto */
  font-size: 18px;         /* mismo tamaño de letra */
  padding: 12px;           /* mismo padding */
  border: none;
  cursor: pointer;
  margin-top: 10px;
}





.acciones-carrito {
  display: flex;              /* los pone en el mismo renglón */
  justify-content: center;    /* centrados */
  gap: 15px;                  /* separación entre ellos */
  margin-top: 10px;
}









/* Estilo específico para el rojo */
.btn-eliminar {
  background: red;
  color: white;
  border-radius: 8px;
}

.btn-eliminar:hover {
  background: darkred;
}





/* Logo grande y pegado a la izquierda */
.topbar .logo img {
  height: 170px;
  display: block;
}

/* Buscador centrado con ancho fijo */
.search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search input {
  width: 300px;
  min-width: 250px;
  padding: 8px 12px;
  border: 1px solid #cccccc18;
  border-radius: 4px;
}

/* Carrito a la derecha con contador */
.carrito-icono {
  position: relative;
}

.carrito-icono button {
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

#carrito-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}


#carrito-items {
  max-height: 60vh;
  overflow-y: auto;
  padding: 10px;
}

#finalizar {
  position: sticky;
  bottom: 0;
  width: 60px;      
  height: 60px;
  border-radius: 50%;   
  background: #007bff;
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  cursor: pointer;
}





html,
body{
    width:100%;
    overflow-x:hidden;
}

*{
    box-sizing:border-box;
}

main{
    width:100%;
}

#productos{
    width:100%;
}


/* ==========================
   CARRITO LATERAL
========================== */

#contenido{
    width:100%;
    transition:all .3s ease;
}

#contenido.con-carrito{
    width:calc(100% - 380px);
}

#carrito-popup{

    position:fixed;

    top:0;
    right:-380px;

    width:380px;
    height:100vh;

    background:white;

    box-shadow:-5px 0 20px rgba(0,0,0,.15);

    transition:.3s;

    z-index:3000;

    display:flex;
    flex-direction:column;

    padding:20px;
}

#carrito-popup.abierto{
    right:0;
}

#carrito-items{
    flex:1;
    overflow-y:auto;
}

#finalizar{
    margin-top:auto;
}

#cerrar-carrito{
    position:absolute;
    top:10px;
    right:10px;

    background:none;
    border:none;

    font-size:22px;
    cursor:pointer;
}



.cliente-box,
.agente-box{
    margin-top:15px;
    display:flex;
    flex-direction:column;
    gap:6px;
}

.cliente-box label,
.agente-box label{
    font-size:14px;
    font-weight:bold;
    color:#444;
}

#nombre-cliente,
#agente{
    width:100%;
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:10px;
    font-size:15px;
    background:white;
    transition:.2s;
}

#nombre-cliente:focus,
#agente:focus{
    outline:none;
    border-color:#2563eb;
    box-shadow:0 0 0 3px rgba(37,99,235,.15);
}

#agente{
    cursor:pointer;
    font-weight:500;
}








/* =========================
   RESPONSIVE CELULAR
========================= */

@media (max-width: 768px){

    body{
        overflow-x:hidden;
    }

    /* HEADER */

    .topbar{
        display:flex;
        align-items:center;
        justify-content:space-between;

        gap:10px;

        padding:12px;

        width:100%;
    }

    /* LOGO */

    .topbar .logo img{
        height:80px;
    }

    /* BUSCADOR */

    .search{
        flex:1;
        display:flex;
        justify-content:center;
    }

    .search input{
        width:100%;
        min-width:0;

        padding:12px;

        font-size:16px;

        border-radius:12px;
    }

    /* CARRITO */

    .carrito-icono{
        position:relative;
        flex-shrink:0;
    }

    .carrito-icono button{
        font-size:34px;
    }

    #carrito-count{
        font-size:12px;

        top:-3px;
        right:-6px;
    }

    /* PRODUCTOS */

    main{
        padding:10px;
    }

    #productos{
        display:grid;

        grid-template-columns:1fr 1fr;

        gap:10px;

        width:100%;
    }

    /* TARJETAS */

    .card{
        width:100%;

        padding:10px;

        border-radius:14px;
    }

    .card img{
        width:100%;
        height:110px;
        object-fit:contain;
    }

    .card h3{
        font-size:14px;
        min-height:45px;
    }

    .codigo{
        font-size:12px;
    }

    .precio{
        font-size:18px;
    }

    .controles label{
        font-size:12px;
    }

    .controles input{
        padding:8px;
        font-size:14px;
    }

    .agregar{
        padding:10px;
        font-size:14px;
    }

   



/* VOLVER A ESTE PUNTO*/
    
}